@media screen and (max-width: 773px) {
    .news-timer-page {
      margin: 0;
      height: 100vh;
      justify-content: center;
      align-items: center;
    }
  
    .news-timer-icon {
      width: 18%;
      height: auto;
      max-width: 100px;
    }
  }
  