@media screen and (max-width: 773px) {
    .OlympicsTrending-page {
      margin: 0;
      height: 100vh;
      justify-content: center;
      align-items: center;
    }

    .flame-icon {
      width: 25%;
      height: auto;
      max-width: 100px;
    }
  }
  